/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
}

.league-spartan {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
}

body {
    background: #181818;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

section {
    border-bottom: 0.03rem solid #777;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/
header {}

/* NAVBAR */

.navbar {
    align-items: center;
    background: transparent;
    display: flex;
    justify-content: space-between;
    padding: 1.5% 4.5%;
    position: fixed;
    top: 0;
    transition: all 0.3s ease;
    width: 100%;
}

.navbar.scrolled {
    background: #151515e6;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
}

.nav-link.active,
.nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}

.nav-link {
    font-size: 0.813rem;
    font-weight: 700;
    padding: 0.813rem 1.25rem;
    transition: all 0.15s ease-in-out;
}


/* HAMBURGER MENU */

.hamburger {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    flex-direction: column;
    padding: 1.5% 4.5%;
    position: fixed;
    /* transform: translateY(0.5rem); */
    top: 0;
    right: 0;
    z-index: 1002;
}

.hamburger-line {
    background-color: #fff;
    height: 0.17rem;
    margin: 0.17rem 0;
    transition: all 0.3s ease;
    transform-origin: center;
    width: 1.8rem;
}

.hamburger.active .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translate(0.375rem, 0.375rem);
}

.hamburger.active .hamburger-line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translate(0.375rem, -0.375rem);
}

.mobile-menu {
    align-items: flex-start;
    background: #151515e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    top: -100%;
    transition: right 0.3s ease;
    width: 100%;
    z-index: 999;
}

.mobile-menu.active {
    top: 6rem;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.mobile-nav-item {
    align-items: center;
    border-bottom: 0.05rem solid rgba(76, 76, 76, 0.75);
    display: flex;
    justify-content: space-between;
}

.mobile-nav-item:last-child {
    border: none;
}

.mobile-nav-link {
    display: block;
    color: #fff;
    font-size: 0.813rem;
    font-weight: 700;
    padding: 0.813rem 1.5rem;
    transition: all 0.15s ease-in-out;
}

.mobile-nav-link.active,
.mobile-nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}


/* HOME */

.home {
    align-items: center;
    background-image: url('../assets/images/portfolio-image1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

.arrow {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    z-index: 3;
}

.arrow:hover {
    color: rgba(255, 255, 255, 0.75);
}

.arrow-left {
    left: 1.5rem;
}

.arrow-right {
    right: 1.5rem;
}

.indicators {
    bottom: 1.5rem;
    display: flex;
    gap: 0.5rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 3;
}

.dot {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    height: 0.75rem;
    transition: all 0.3s;
    width: 0.75rem;
}

.dot.active {
    background: #fff;
}

.home-h2 {
    font-size: 1.1rem;
    font-weight: 650;
    letter-spacing: 0.125rem;
}

.home-h1 {
    font-size: 3.25rem;
    font-weight: 700;
    margin: 2.5% 0% 5% 0%;
    max-width: 70%;
    text-align: center;
}

.home-link {
    background-color: #fff;
    border-radius: 3.125rem;
    box-shadow: 0.313rem 0.313rem 0.625rem -0.125rem rgba(0, 0, 0, 0.50);
    color: #404040;
    font-size: 0.85rem;
    font-weight: 700;
    padding: 1.4% 2.3%;
    transition: all 0.2s ease-in-out;
}

.home-link:hover {
    box-shadow: 0.625rem 0.625rem 1.313rem -0.25rem rgba(0, 0, 0, 0.75);
}


/* ABOUT */

.about,
.portfolio,
.services,
.contact {
    padding: 6.25rem 4rem;
}

.about-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
}

.section-heading {
    font-size: 1.125rem;
    font-weight: 700;
    margin: 0 0 3rem 0;
    text-align: center;
}

.about-image {
    max-width: 40%;
}

.about-desc-short {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1.6rem;
}

.about-desc-long {
    font-family: "League Spartan", sans-serif;
    font-size: 1.1rem;
    font-weight: 350;
    line-height: 1.7rem;
    margin-bottom: 1.5rem;
}

.about-social-div a {
    padding: 0% 0.75%;
}

.about-social-icon {
    fill: #fff;
    transition: all 0.3s ease-in-out;
    width: 4%;
}

.about-social-icon:hover {
    fill: #ababab;
}


/* ABOUT BREAK */

.about-break {
    align-items: center;
    background-image: url('../assets/images/about-break-image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 -17.5rem 17.5rem rgba(0, 0, 0, 0.792);
    display: flex;
    height: 26.5rem;
    justify-content: center;
}

.about-break h3 {
    font-size: 2.5rem;
    line-height: 3.25rem;
    max-width: 55%;
    text-align: center;
}


/* PORTFOLIO */

.portfolio-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.portfolio-nav li {
    margin: 0 0.625rem 0.625rem 0.625rem;
}

.portfolio-nav li::after {
    background: #ffffff4d;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-left: 1.063rem;
    height: 0.188rem;
    vertical-align: middle;
    width: 0.188rem;
}

.portfolio-nav li:last-child::after {
    display: none;
}

.portfolio-nav a {
    cursor: pointer;
    font-size: 0.813rem;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.portfolio-nav a.active,
.portfolio-nav a:hover {
    color: #98bec8;
}

.gallery {
    display: flex;
    gap: 1.1rem;
}

.gallery-item {
    margin-bottom: 1.1rem;
}

.gallery-item img {
    max-width: 100%;
}

#services,
#contact {
    height: 50rem;
}

footer {}


/* FOR TABLETS */

@media screen and (max-width: 992px) {

    /* HAMBURGER MENU */
    .navbar,
    .hamburger {
        padding: 4.5% 4.5%;
    }

    .navbar-right {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .about-wrapper {
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
    }

    .about-image {
        max-width: 65%;
    }

    .about-break h3 {
        max-width: 75%;
    }
}


/* FOR PHONES */

@media screen and (max-width: 500px) {

    .navbar,
    .hamburger {
        padding: 5% 5%;
    }

    .navbar-brand {
        font-size: 1.75rem;
    }

    .mobile-menu.active {
        top: 4rem;
    }

    .arrow {
        display: none;
    }

    .home-h2 {
        font-size: 0.95rem;
    }

    .home-h1 {
        font-size: 2rem;
        margin: 8.5% 0% 13.5% 0%;
        max-width: 92.5%;
    }

    .home-link {
        font-size: 0.65rem;
        padding: 4% 6%;
    }

    .about,
    .portfolio,
    .services,
    .contact {
        padding: 6.25rem 1.5rem;
    }

    .about-image {
        max-width: 100%;
    }

    .about-break {
        height: 33rem;
    }

    .about-break h3 {
        max-width: 95%;
    }

    .portfolio-nav {
        flex-wrap: wrap;
    }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/